* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
margin:0;
}

header{
    display:flex;
    justify-content: center;
    background-color: #2C2F31;
}

.navbar-logo{
    width: 10%;
    padding-top:10px;
    padding-left: 50px;
}

span {
    color: #3397C9;
}


.search {
    margin-right: 50px;
}


.reg{
    margin-right:20px;
    margin-top: 15px;

    color: #B9B8B6;
    text-decoration:none;
}

ul.navbar-nav {
    margin-top: 5px;
    padding: 5px;
    display:flex;
}

ul.navbar-nav li {
    display:inline;
    margin-right:30px;
    margin-left:5px;
    padding: 3px;
}

.navbar-nav a {
    color: #B9B8B6;
    text-decoration:none;
}

.red a {
    color:#F33071;
}
.faq a {
    color:#28A745;
    font-weight: 800;
    margin:0;
    font-size: 20px;
}

.main {
    background-color:#313537;
}
.container-x1 {
    display:flex;
    color: rgb(199, 195, 187) !important;
    line-height:2em;
    font-weight:400;
    justify-content: center;
    text-align: center!important;

}

ul.navbar-categories {
    margin-left:200px;
    margin-top: 5px;
    padding-right:20px;
    display:flex;
}

ul.navbar-categories li {
    display:inline;
    text-align:center;
    background-color: #23282D;
    border: 1px solid #80776A;
    margin-right:30px;
    margin-left:5px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:35px;
    padding-right:35px;
}

ul.navbar-categories a {
    color: rgb(199, 195, 187);
    text-decoration:none;
}

.blue a {
    color: rgb(0, 123, 255) !important
}
.green a {
    color: rgb(40, 167, 69) !important;
}

.films {
    display:flex;
    margin-left: 50px;
    align-content: center;
    
}

.film-container {
    transition: 0.5s;
    max-width:145px;
    margin-bottom:15px;
    margin-left:60px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-direction: row;
}

.film-container a{
    text-decoration: none;
}

.films img {
    border:none;
    border-radius: 5%;
    max-height:200px;
    width:100%;
}
.card-img-top {
    text-decoration: none;
    color: #C7C3BB;
}

.card-body{
    font-size:14px;
    padding: 10px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border:none;
    border-radius: 5%;
    background-color: #23282D;
    color:#C7C3BB;
}

.film-container:hover {
    transition: transform 0.5s;
    transform: scale(1.05);
}


